<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <script type="text/javascript" src="models.js"></script>
        <script type="text/javascript" src="three.js"></script>
        <script type="text/javascript" src="orbitcontrol.js"></script>
        <script src="https://unpkg.com/three.texttexture"></script>
        <script src="https://unpkg.com/three.textsprite"></script>
        <title>GeoJSON -> three.js</title>
        <style>
            body {
                margin: 0px;
                padding: 0px;
            }
            canvas {
                position: absolute;
                left: 0px;
                top: 0px;
                margin: 0;
                padding: 0;
                width: 100vw;
                height: 100vh;
            }
        </style>
    </head>
    <body>
        <script type="text/javascript" src="builder.js" data="<%= data %>"></script>
    </body>
</html>